@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pristine: rgba(242, 232, 218, 0.7);
  --peach-fuzz: rgba(255, 190, 152, 0.7);
  --honey-peach: rgba(220, 189, 158, 0.7);
  --peach-puree: rgba(239, 207, 186, 0.7);
  --peach-pink: rgba(250, 154, 133, 0.7);
  --peach-pearl: rgba(255, 178, 165, 0.7);
  --text-color: #848885;
  --hover-color: #c8c8c8;

}

body {
  color: var(--text-color);
}

/* Custom styles */
.section-min-height {
  min-height: 100vh;
}

.nav-link {
  @apply px-3 py-2 rounded-md text-sm font-medium transition-colors duration-200;
  color: var(--text-color);
}

.nav-link:hover {
  @apply text-gray-900;
  background-color: var(--hover-color);
}

/* Custom background classes */
.bg-pristine { background-color: var(--pristine); }
.bg-peach-fuzz { background-color: var(--peach-fuzz); }
.bg-honey-peach { background-color: var(--honey-peach); }
.bg-peach-puree { background-color: var(--peach-puree); }
.bg-peach-pink { background-color: var(--peach-pink); }
.bg-peach-pearl { background-color: var(--peach-pearl); }